*{
    font-family: Poppins, sans-serif;
  }

  /* ====== Navigation Bar ====== */
    
  .navbar {
    background-color: #7CA346 !important;
    height: 80px;
    padding: 0.5rem;
  }

  /* ====== Hero Section ====== */

  .hero-section {
  background: url(../img/lolanenaherobg.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh !important;
  position: relative;
  padding: 0 15px;
}

.hero-bg {
  background: url(../img/lolanenaherobg.png) no-repeat center !important;
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  padding: 15px 15px;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section .hero-logo {
  position: absolute;
  left: 0;
  width: 70%;
  margin-bottom: 200px;
}

.hero-section h5 {
  position: absolute;
  bottom: 10%;
  text-align: justify;
  font-size: 1.1rem;
}

.hero-section h6 {
  position: absolute;
  bottom: 5%;
  text-align: left;
  left: 0;
}

.hero-section h6 a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .hero-section {
    padding: 15px;
    height: 80vh;
  }

  .hero-section .container {
    height: 80vh;
    z-index: 1;
    position: relative;
  }

  .hero-section h5 {
    font-size: 0.9rem;
  }

  .hero-section h6 {
    font-size: 0.8rem;
  }
}

@media (min-width: 1000px) {
  .hero-section {
    padding: 15px;
    height: 100vh;
  }

  .hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
  }
}

.btn-login {
  background-color: #195287;
  color: #fff;
  border: 2px solid #195287;
  padding: .375rem .75rem;
  border-radius: .5rem;
  text-decoration: none;
}
.btn-login:hover,
.btn-login:focus {
  background-color: #3583dc;
  color: #fff;
}

.squiggle{
  width: 150px !important;
  height: auto !important;
  display: block;
}

.toppicks{
  padding: 30px;
  background-color: #f8c024;
}

.top-picks-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
}

.pick {
    text-align: center;
    flex: 1 1 200px; /* makes picks flexible and responsive */
}

.pick img {
    width: 100%;      /* scales with container */
    max-width: 400px; /* optional max width */
    height: auto;
    display: block;
    margin: 0 auto;
}

.pick p {
    margin-top: 10px;
    font-size: 1.5rem;
}
